/* 
====
  IMPORTS_GRP
====
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

@import './reset.css';
@import './variables.css';

/* 
====
  LAYOUT_GRP
====
*/
body {
  background: var(--color-tertiary);

  font-size: 1.4rem;
  line-height: 2.4rem;
}

body::before {
  content: '';

  background: var(--color-primary);
  width: 100%;
  height: 50rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page-wrapper {
  width: 75rem;
  margin: 0 auto;
}

/* HEADER */
header {
  margin: 10.7rem 0 3.2rem;
  text-align: center;
}

header h1 {
  color: var(--color-white);
  font: 400 4.8rem/6rem var(--staatliches);
}

header p {
  color: var(--color-white);
  font: 400 2rem/3rem var(--poppins);
}

header img {
  margin-top: 3rem;
}

/* FORM */
form {
  background: var(--color-white);
  border-radius: 2rem;
  padding: 6.4rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  position: relative;

  margin-bottom: 10rem;
}

.background-legend {
  width: 100%;
  height: 13.3rem;
  background: var(--color-secondary);
  border-radius: 2rem 2rem 0 0;
  
  position: absolute;
  top: 0;
  left: 0;  
}

/* _FORM_FIELDS */
.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  position: relative;
}

.fieldset-wrapper legend {
  color: var(--form-header-text-color);
  font: 400 2.4rem/3.4rem var(--staatliches);
  text-transform: uppercase;
  text-align: center;

  padding-bottom: 1.6rem;
  border-bottom: 1px solid #E6E6F0;

  margin-bottom: 2rem;
}

.fieldset-wrapper .custom-form-title {
  color: var(--color-white);
  border: none;

  margin-top: -10px;
  margin-bottom: 40px;
  
  z-index: 1;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label, label {
  color: var(--form-text-color);
  font: 400 1.4rem/2.4rem var(--poppins);
  margin-bottom: 8px;
}

.input-wrapper label span {
  margin-left: 9px;

  color: #C1BCCC;
  font: 400 1.2rem/2rem var(--poppins);

  transition: all 0.3s ease;
}

.input-wrapper label span:hover {
  color: var(--form-text-color);
  opacity: 0.7;
}

.input-wrapper input, select, textarea {
  color: var(--form-text-color);
  font: 400 1.4rem/2.4rem var(--poppins);
  padding: 1rem;

  background: var(--input-background-color);
  width: 100%;
  height: 5.6rem;
  
  border-radius: 8px;
  border: 1px solid #E6E6F0;
}

.input-wrapper.name-wrapper {
  display: flex; 
  flex-direction: row;
  gap: 2.2rem;
}

.input-wrapper.name-wrapper div {
  flex: 1;
}

.input-wrapper.name-wrapper input {
  margin-top: 8px;
}

/* _FORM_MENTOR_FEEDBACK */
.mentor-info select {
  width: 50%;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
}

.mentor-info textarea {
  height: 16.6rem;
}

.mentor-info .checkbox-wrapper {
  position: relative;
}

.mentor-info .checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;

  width: 2.4rem;
  height: 2.4rem;

  opacity: 0;
}

.mentor-info .checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mentor-info .checkbox-wrapper label::before {
  content: '';
  display: block;

  width: 2.4rem;
  height: 2.4rem;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.mentor-info .checkbox-wrapper input:checked + label::before {
  background-image: url(../assets/images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.mentor-info .checkbox-wrapper input:focus + label::before {
  border: 2px solid black;
}

/* _FORM_MENTORSHIP_DATES */
.mentorship h2 {
  color: var(--form-header-text-color);
  font: 400 2rem/3.4rem var(--staatliches);
  text-transform: uppercase;
}

.mentorship-wrapper {
  display: flex;
  gap: 3.2rem;
}

.mentorship-wrapper .input-wrapper {
  flex: 2;
}

.mentorship-wrapper .mentorship-time {
  flex: 1;

  display: flex;
  gap: 1rem;
}

/* _FORM_SUBMIT */
.btn-submit {
  margin-top: 3.3rem;

  width: 100%;
  height: 5.5rem;
  background-color: var(--color-secondary);
  border-radius: 8px;

  color: var(--color-white);
  font: 400 2rem/2.6rem var(--staatliches);

  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  background: #d85f52;
}