/* 
====
  IMPORTS
====
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* 
====
  GLOBAL
====
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* 
====
  LAYOUT
====
*/

body {
  background: rgb(245, 245, 255);
  color: #303030;
  font-size: 1.6rem;
}

body * {
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.5rem 0;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.search {
  width: 40%;
  display: flex;
  align-items: center;
}

.search input {
  height: 3.2rem;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 4px 0 0 4px;
  padding: 0 8px;
}

.search button {
  background: hsl(194, 100%, 63%);
  height: 3.2rem;
  border-radius: 0 4px 4px 0;
  padding: 0 1rem;
}

.search button:hover {
  filter: brightness(1.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1rem 1.5rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
  font-size: 1.4rem;
  color: #303030;
}

table th {
  background: hsl(194, 100%, 63%);
  text-align: left;
  font-weight: 400;
  padding: 1.5rem;
}

table th:first-child {
  border-top-left-radius: 4px;
}

table th:last-child {
  border-top-right-radius: 4px;
}

table tr:nth-child(even) {
  background-color: #EEE;
}

table tr:nth-child(odd) {
  background-color: #DDD;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a p {
  font-weight: 600;
}

td.user a span {
  font-weight: 400;
}

td .remove {
  color: red;
}