/* 
====
  RESET_GRP
====
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

/* 
====
LAYOUT_GRP
====
*/
body {
  background: #2C2B3D;
  
  color: #FFF;
  font-size: 14px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

a:hover:not(#logo) {
  font-size: 16px;
}

#page-container {
  width: 85%;
  max-width: 1400px;
  margin: auto;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 71px 0 100px;
}

#pages-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
 
}

#pages-links li a {
  color: #FFF;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
}

/* MAIN */
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 75px;

  margin-bottom: 155px;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  font-family: 'JetBrains Mono', monospace;

  margin-bottom: 58px;
}

p {
  color: #C2C2C2;
  margin-bottom: 20px;
}

.span-text-color {
  color: #00BFA6;
  font-weight: 700;
}

/* FOOTER */
.decoration-line {
  width: 570px;
  height: 1px;

  margin: 0 auto 27px;

  background: #00BFA6;
}

footer p {
  font-family: 'JetBrains Mono', monospace;
}

footer p a {
  color: #FFF;
}

/* LOCKER */
#locker {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
