/* 
====
  IMPORTS
====
*/
@import url('https://fonts.googleapis.com/css2?family=Palanquin&family=Staatliches&display=swap');

@import './reset.css';
@import './variables.css';

/* 
====
  LAYOUT
====
*/
body {
  background: var(--color-grayish);

  color: var(--color-font-body);
  font: 400 2rem/2rem var(--font-palanquin);
}

/* HEADER */
header {
  background: var(--color-gray);
  margin: 0 auto 2.6rem;
  height: 31.5rem;

  text-align: center;
}

header img {
  height: 15.6rem;
  margin: 3.2rem 0;
}

header div {
  background: var(--color-grayish-pink);
  width: 100%;
  height: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

header div h1 {
  color: var(--color-font-heading1);
  font: 400 4rem/3.4rem var(--font-staatliches);
  letter-spacing: 5px;
}

/* MAIN */
main  {
  margin: 0 auto;
  padding: 0 3rem;
  text-align: center;
}

main p {
  max-width: 32rem;
  margin: 0 auto;
  margin-bottom: 5.5rem;
}

.cards-container {
  margin: 0 auto;
  max-width: 32rem;
  
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin-bottom: 6rem;
}

.card {
  position: relative;
}

.card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  background: var(--color-light-pink);
  width: fit-content;
  padding: 5px 2.3rem;
  border-radius: 2rem;

  color: var(--color-font-heading2);
  font: 400 2rem var(--font-staatliches);
  letter-spacing: 1px;
}

/* 
====
  ANIMATIONS
====
*/
.card img {
  animation: downTopImg 0.7s;
}

.card h2 {
  animation: topdownText 0.7s;
}

@keyframes topdownText {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes downTopImg {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}